.floating-button a {
    color: #F9CE06;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 55px;
    font-size: 25px;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}
.floating-button a:hover {
    color: #333;
}
.floating-button:hover {
    background-color: #F9CE06;
}